<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
        Today is a fully offline journal.

        The app declares NO permissions at all:
          * no INTERNET  -> there is no code path that can reach the network
          * no storage   -> files are chosen through the Storage Access Framework
          * no location, contacts, camera, microphone, phone, SMS
          * no telemetry / analytics / crash reporting SDKs are present

        USE_BIOMETRIC is only required if the user opts into biometric unlock.
    -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <application
        android:name=".TodayApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:localeConfig="@xml/locales_config"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.Today"
        tools:targetApi="33">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode|density|fontScale|smallestScreenSize|locale|layoutDirection"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Today.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
